.questionBar {
    position: relative;
    top: 0;
    padding: 1rem 1.688rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.questionChevron {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqActive {
    height: 15.625rem;
    width: 100%;
    background-color: var(--quarternary-color);
    padding-left: 1.688rem;
    padding-right: 1.688rem;
    transition: height 0.3s ease-in-out;
}

.faqActive .questionBar {
    padding-left: 0;
    padding-right: 0;
}

.controls {
    cursor: pointer;
}