.pictures{
    padding-left: 1rem;
    padding-right: 1rem;
}

.arrows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}



.leftarrow{
    height: 20px;
    width: 20px;
    padding-right: 2px;


}
.rightarrow{
    height: 20px;
    width: 20px;
   
    
}