.doughnut{
    height: 246px;
    width: 246px;
    padding-top: 1rem;
    margin-top: 3rem;
}

.heading{
    font-size: var(--header);
    font-family: var(--font-mono);
    font-style: bold;
    padding-right: 9rem;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 246px;
}

.describer{
    font-size: var(--body-text);
    font-family: var(--font-mono);
    padding: 1rem;
    padding-bottom: 0;
}