.container{
    width: 414px;
    height: 95px;
    background-color:var(--quinary-color);
 
  }

.footer{
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 10px;


}

.footerlinks{
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;  
    color: white;
    font-family: var(--font-mono);
    padding-right: 18px;
   
}