.container{
    width: 414px;
    height: 80px;
    background-color:#494949;
 
  }

.footer{
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 10px;

}

.footerlinks{
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;  
    color: white;
}