.resourceCard {
    width: 100%;
    height: auto;
    max-height: 20rem;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    margin-top: 0.625rem;
    justify-content: center;
    gap: 0.25rem;
    padding: 2rem 0;
}

.leftSide {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: center;
    gap: 0.25rem;
    max-width: 16rem;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    gap: 1rem;
}

.icon {
    margin-left: 6rem;
}

.image{
    border-radius: 5px;
    object-fit: cover;
}

.header {
    font-size: var(--header);
}

.resource {
    font-size: var(--body);
    font-weight: var(--semibold);
}

.location {
    font-size: var(--location-text);
}

.text {
    font-size: var(--body);
    font-weight: var(--semibold);
}