.main {
    background-color: var(--tertiary-color);
    padding-bottom: 4rem;
    width: 414px;
    height: 896px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*SCROLLBAR INVISIBLE*/
.main::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.title {
    height: 7.5rem;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3rem;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    font-size: var(--header);
    padding-right: 1rem;
    padding-left: 1rem;
}

@media only screen and (min-width: 415px) {
    .container {
        display: flex;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 414px;
        height: 896px;
        padding-bottom: 0;
    }
  }