:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'open-sans';


  --foreground-cream: #F7EAC9;
  --background-gray: #D9D9D9;
  --background-text: #34312D;



  --primary-color: #2d2b28;
  --secondary-color: #efefef;
  --tertiary-color: #f3e7c5;
  --quarternary-color: #e69c44;
  --quinary-color: #6c9167;
  --ordinal-color: #658aac;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color:var(--background-text);
  background:var(--foreground-cream) ;
}

a {
  color: inherit;
  text-decoration: none;
}
