.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  padding: 6rem 2rem 18rem 2rem;
  min-height: 100vh;
  background-color:var(--secondary-color);
}

.header {
  font-size: var(--headerTwo);
  font-weight: 500;
  text-align: center;
}

@media only screen and (min-width: 415px) {
  .container {
      display: flex;
      height: 100vh;
      justify-items: center;
      justify-content: center;
      align-items: center;
  }
  .main {
      width: 414px;
      height: 896px;
  }
}


