.main{
    height: 896px;
    width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;

}
.top{
    display: flex;
    flex-direction: column;
    padding-right: 20rem;
    width: 414px;

}


.logo{
    width:47px;
    height:45px;
}
.title{
    padding-right: 10rem;
    padding-top: 1rem;
    width: 414px;
}
.header{
    font-family:var(--font-mono);
    font-size: 24px;
    
}


.stories{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-left: 2rem;
    gap: 40px;
    width: 414px;
    
}
.name{
    font-family: var(--font-mono);
    padding-top: 10%;
    text-align: center;
}
.icon{
    height: 60px;
    width: 60px;

}
.section2{
    display: flex;
    flex-direction: row;
    width: 414px;
    gap: 7rem;

   
}
.stats{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    
}
.resource{
    display: flex;
    flex-direction: column;
}

.weather{
    display: flex;
    flex-direction: row;
    width: 414px;
    padding-top: 2rem;
    padding-left: 2rem;
    gap: 40px;
}
