.main {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 896px;
    overflow: y;
}

.title{
    width: 100%;
    background-color: white;
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    width: 414px;
    padding-bottom: 1rem;
    justify-content: center;
    gap: 5rem;
    padding-left: 2rem;
}

.carousel{
    background-color: white;
    width: 414px;
    padding: 2rem;
    margin-top: 0.6rem;
}


.logo{
    width:47px;
    height:45px;
}

.header{
    font-family:var(--font-mono);
    font-size: 24px;
    padding-right: 11rem;
    text-align: left;
    padding-top: 5rem;   
}

.name{
    font-family: var(--font-mono);
    padding-top: 10%;
    text-align: center;
}

.icon{
    height: 60px;
    width: 60px;
}

.icon2{
    height: 70px;
    width: 60px;
  
  
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 0.6rem;
     width: 414px;
}

.stats{
    width: 12.625rem;
    background-color: white;
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.stattext{
    font-size: xx-small;
}
.resource{
    width: 12.625rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section3{
    display: flex;
    flex-direction: column;
    gap: 3px;
 
}

.weather{
    width: 414px;
    background-color:white;
    height: 10.375rem;
    margin-top: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.stories{
    width: 414px;
    background-color:white;
    height: 11.375rem;
    margin-top: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media only screen and (min-width: 415px) {
    .container {
        display: flex;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 414px;
        height: 896px;
    }
  }


