.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color:var(--secondary-color);
}

.describer{
    display: flex;
    flex-direction: column;
    width: 414px;
    gap: 1rem;
    padding: 1rem;
  }
  
  .skip{
    margin-left: 15rem;
  }
  