.main {
    background-color: var(--tertiary-color);
    font-family: var(--font-mono);
    width: 414px;
    height: 896px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*SCROLLBAR INVISIBLE*/
.main::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.title {
    width: 100%;
    background-color: var(--secondary-color);
    height: 7.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1rem;
    justify-content: center;
    gap: 3.5rem;
}

.resources {
    width: 100%;
    background-color: var(--secondary-color);
    height: 14.375rem;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.food {
    width: 12.625rem;
    background-color: var(--secondary-color);
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.shelter {
    width: 12.625rem;
    background-color: var(--secondary-color);
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.clothing {
    width: 12.625rem;
    background-color: var(--secondary-color);
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.community {
    width: 12.625rem;
    background-color: var(--secondary-color);
    height: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.1rem;
}

.subheader {
    font-size: 18px;
}

.header {
    font-size: var(--header);
    padding-right: 2rem;
}

.footer {
    position: unset;
    bottom: unset;
}

@media only screen and (min-width: 415px) {
    .container {
        display: flex;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 414px;
        height: 896px;
    }
  }