.main{
    background-color: var( --tertiary-color);
    overflow-y: scroll;
    overflow-x: hidden;
  
}
.container{
    display: flex;
    flex-direction: column;
   
}

.storycontent{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 950px;
    background-color: white;
    margin-top: 1rem;
}


.middleeast{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    object-fit: cover;
    
}

.header{
    font-size: 16px;
    font-family: var(--font-mono);
    font-weight: 600;
    width: 350px;
}

.body{
    font-size: small;
    width: 350px;
}


.ukraine{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;

}
.header2{
    font-size: 16px;
    font-family: var(--font-mono);
    font-weight: 600;
    width: 350px;
}

.body2{
    font-size: small;
    width: 350px;
}

.topsection{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 414px;
    background-color: white;
}

.title{
    font-family: var(--font-mono);
    font-size: 24px;
    text-align: center;
    
}

@media only screen and (min-width: 415px) {
    .container {
        display: flex;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 414px;
        height: 896px;
    }
  }