.main{
    background-color: var( --tertiary-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

/*SCROLLBAR INVISIBLE*/
.main::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.container{
    display: flex;
    flex-direction: column;
}

.storycontent{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 414px;
    background-color: var(--secondary-color);
    margin-top: 0.625rem;
}

.middleeast{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header{
    font-size: var(--header);
    font-family: var(--font-mono);
    font-weight: 600;
    width: 350px;
}

.body{
    font-size: small;
    width: 350px;
}

.ukraine{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.header2{
    font-size: 16px;
    font-family: var(--font-mono);
    font-weight: 600;
    width: 350px;
}

.body2{
    font-size: small;
    width: 350px;
}

.topsection{
    height: 113px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-right: 5rem;
    gap: 1.5rem;
    width: 414px;
    background-color: var(--secondary-color);
}

.title{
    font-family: var(--font-mono);
    font-size: 24px;
    text-align: center;   
}

.image {
    object-fit: cover;
}

@media only screen and (min-width: 415px) {
    .container {
        display: flex;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 414px;
        height: 896px;
    }
  }
