.maincontent{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 414px;
    height: 950px;


}

/*SCROLLBAR INVISIBLE*/
.maincontent::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.top{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 414px;
    background-color: white;
}
.storycontent{
    background-color: white;
    height: 200vh;
    margin-top: 1rem;
    padding: 1rem;
}
.container{
    overflow-y: scroll;
    overflow-x: hidden;
}

.header{
    font-family: var(--font-mono);
    font-size: 24px;
    text-align: center;
    
}
.section1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 414px;
    margin-top: 3rem;

  

}

.image1{
    height: 208px;
    width: 201px;
}

.image3{
    height:150px;
    width: 140px;
    margin-top:4rem;
}


.image2{
    height:201px;
    width: 208px;
    margin-top: 8rem;
}

.section2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 414px;
  
}

.image4{
    height:150px;
    width: 140px;
    margin-top: 12rem;
    padding-bottom: 1rem;
}

.button1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.button2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom{
    padding-top: 2rem;

}
@media only screen and (min-width: 415px) {
    .container {
        display: flex;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .maincontent {
        width: 414px;
        height: 896px;
        padding-bottom: 0;
    }
  }


