.maincontent{
    padding: 1.688rem;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 414px;

 
  

 
}
.top{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 414px;
    background-color: white;
}

.header{
    font-family: var(--font-mono);
    font-size: 24px;
    text-align: center;
    
}
.section1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 414px;
    margin-top: 3rem;

  

}

.image1{
    height: 208px;
    width: 201px;
}

.image3{
    height:150px;
    width: 130px;
    margin-top:4rem;
}


.image2{
    height:201px;
    width: 208px;
    margin-top: 8rem;
}

.section2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 414px;
  
}

.image4{
    height:150px;
    width: 130px;
    margin-top: 12rem;
    padding-bottom: 1rem;
}

.button1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.button2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom{
    padding-top: 2rem;

}



