.doughnut{
    height: 246px;
    width: 246px;

}


.heading{
    font-size: 11px;
    font-family: var(--font-mono);
    font-style: bold;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 246px;
}

.describer{
    font-size: 10px;
    font-family: var(--font-mono);
    padding-top: 1rem;
}